@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    background-image: url("/Banner.jpg");
    /* background-color: yellow; */
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
  